<ion-header>
  <ion-toolbar>
    <ion-title>Cliente</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4"  (click)="regresar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contaier-login">
    <form [formGroup]="newClienteRegisterForm" (ngSubmit)="updateCliente()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <br />
            <ion-item>
              <ion-icon name="mail"></ion-icon>
              <ion-input formControlName="email" placeholder="email"  [(ngModel)]="clienteVU.email" ></ion-input>

            </ion-item>

            <br />
            <ion-item>
              <ion-icon name="person-outline"></ion-icon>
              <ion-input formControlName="nombres" placeholder="nombres"  [(ngModel)]="clienteVU.nombres" ></ion-input>

            </ion-item>
            <br />
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Actualizar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  </div>
</ion-content>
