<ion-header>
  <ion-toolbar>
    <ion-title>Inscripcion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4" (click)="regresar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contaier-login">
    <form [formGroup]="newInscRegisterForm" (ngSubmit)="updateInscripcion()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <br />
              <ion-item>
                <ion-select formControlName="codigoCurso" aria-label="Food"
                  placeholder="Seleccione la Materia" >
                  <ion-select-option *ngFor="let food of listaCurso" [value]="food.codigoCurso">{{
                    food.nombreCurso}}</ion-select-option>
                </ion-select>
              </ion-item>
              <br />
              <ion-item>
                <ion-icon name="lock-open"></ion-icon>
                <ion-input formControlName="nombreCurso" placeholder="Nombre Curso"  [(ngModel)]="inscripcionVU.nombreCurso" ></ion-input>

              </ion-item>
              <br />


            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">Registrarse</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </form>
  </div>
</ion-content>
