<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Inscripción</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Curso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Cliente</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Mas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
