<ion-header>
  <ion-toolbar>
    <ion-title>Inscripcion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4"  (click)="regresar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let insc of listaInscripcion">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{insc.nombreCurso}}</ion-card-title>
      <ion-card-subtitle>{{insc.cedula}}</ion-card-subtitle>
      <ion-card-subtitle>{{insc.codigoCurso}}</ion-card-subtitle>
      <ion-card-subtitle>{{insc.codigo}}</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click)="updateInscripcion(insc)"><ion-icon
        name="eye-sharp"></ion-icon></ion-button>
    <ion-button color="danger" (click)="eliminarInscripcion(insc.codigo)"><ion-icon
        name="trash"></ion-icon></ion-button>



  </ion-card>
  </ion-list>
</ion-content>
