
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contaier-login">
    <form [formGroup]="newClienteRegisterForm" (ngSubmit)="registroNewCliente()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <br />
            <ion-item>
              <ion-icon name="mail"></ion-icon>
              <ion-input formControlName="email" type="text" required placeholder="Correo electrónico *" class="Text"></ion-input>
            </ion-item>

            <br />
            <ion-item>
              <ion-icon name="person-outline"></ion-icon>
              <ion-input formControlName="nombres" id="nombres" type="text" required placeholder="Nombre *" class="Text"></ion-input>
            </ion-item>
            <br />
            <ion-item>
              <ion-icon name="finger-print-outline"></ion-icon>
              <ion-input formControlName="cedula" type="text" required placeholder="Cedula *" class="Text"></ion-input>
            </ion-item>
            <br />
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Registrarse</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  </div>
</ion-content>
