<ion-header>
  <ion-toolbar>
    <ion-title>Curso</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4"  (click)="regresar()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="contaier-login">
    <form [formGroup]="newCursoRegisterForm" (ngSubmit)="updateCliente()">
    <ion-grid>
      <ion-row>
        <ion-col>

          <ion-list>

            <br />
            <ion-item>
              <ion-icon name="document-text-outline"></ion-icon>
              <ion-input formControlName="nombreCurso" placeholder="nombreCurso"  [(ngModel)]="cursoVU.nombreCurso" ></ion-input>
            </ion-item>


            <br />
            <ion-item>
              <ion-icon name="reader-outline"></ion-icon>
              <ion-input formControlName="descripcionCurso" placeholder="descripcionCurso"  [(ngModel)]="cursoVU.descripcionCurso" ></ion-input>
            </ion-item>

            <br />

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Actualizar</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
  </div>
</ion-content>
